<ole-navbar>
  <ole-navbar-item>
    <img routerLink="/news/1" class="logo" src="assets/images/hc-logo.png" alt="Logo" (click)="scrollTop()">
  </ole-navbar-item>
  <ole-navbar-item slot="navbar-start">
    <a routerLink="/newest/1" routerLinkActive="active" (click)="scrollTop()">new</a>
  </ole-navbar-item>
  <ole-navbar-item slot="navbar-start">
    <a routerLink="/show/1" routerLinkActive="active" (click)="scrollTop()">show</a>
  </ole-navbar-item>
  <ole-navbar-item slot="navbar-start">
    <a routerLink="/ask/1" routerLinkActive="active" (click)="scrollTop()">ask</a>
  </ole-navbar-item>
  <ole-navbar-item slot="navbar-start">
    <a routerLink="/jobs/1" routerLinkActive="active" (click)="scrollTop()">jobs</a>
  </ole-navbar-item>
  <ole-navbar-item slot="navbar-end">
    <ole-icon type="cog" (click)="toggleSettings()"></ole-icon>
  </ole-navbar-item>
</ole-navbar>
<header>
  <app-settings *ngIf="settings.showSettings"></app-settings>
</header>
