<div class="main-content">
  <app-loader *ngIf="!items && !errorMessage"></app-loader>
  <app-error-message [message]="errorMessage" *ngIf="!items && errorMessage !==''"></app-error-message>

  <div *ngIf="items">
    <p class="job-header" *ngIf="feedType === 'jobs'">
      These are jobs at startups that were funded by Y Combinator. You can also get a job at a YC startup through
      <a href="https://triplebyte.com/?ref=yc_jobs">Triplebyte</a>.
    </p>
    <div *ngIf="feedType !== 'new'" [class.list-margin]="feedType !== 'jobs'">
      <ole-column *ngFor="let item of items">
        <item class="item-block" [item]="item" class="post"></item>
      </ole-column>
    </div>

    <ole-pagination>
      <ole-pagination-previous slot="prev" *ngIf="listStart !== 1" [routerLink]="['/' + feedType, pageNum - 1]" routerLinkActive="active"
        class="prev">
        ‹ Prev
      </ole-pagination-previous>
      <ole-pagination-next slot="next" *ngIf="items.length === 30" [routerLink]="['/' + feedType, pageNum + 1]" routerLinkActive="active"
        class="more">
        More ›
      </ole-pagination-next>
    </ole-pagination>
  </div>
</div>
